.connect-camera-container {
    display: flex;
    font-family: Arial, sans-serif;

    background-color: #fff;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;

    background-image: url('../../assets/images/icon-favo-top.png'), url('../../assets/images/icon-favo-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left -140px top, right -220px bottom;
    background-size: auto
  }
  
  .connect-camera-container h2 {
    margin-bottom: 1.5rem;
  }
  
  .camera-card {
    background-color: #F5F5F5;
    box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 12px;
    text-align: center;
  }
  
  .camera-card p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  
  .camera-card video {
    border-radius: 8px;
    border: 2px solid #ddd;
    max-width: 100%;
    height: auto;
  }
  