body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Preenche a tela inteira */
  }
  
  .page{
    background-image: url('../../assets/images/bees.png');
    background-color: #ffbb00;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  .registration-container {
    width: 400px;
    padding: 5rem;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    color: #000; 
  }