body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Preenche a tela inteira */
  }

  .page{
    background-image: url('../../assets/images/bees.png');
    background-color: #ffbb00;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  .registration-container {
    width: 400px;
    padding: 5rem;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000; 
  }

  .btn-cadastrar{
    width: 50%;
    border-radius: 14px;
    color: #000;
    margin-top: 14px;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem; /* espaço entre label e input */
    width: 95%
  }
  
  .form-group label {
    width: 70px; /* largura fixa para alinhar as labels */
    font-weight: 500;
    text-align: right;
  }
  
  .form-group input,
  .form-group select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  input,
  textarea,
  select {
    color: #000 !important;            /* texto digitado */ 
    caret-color: #000;                 /* cor da barrinha de digitação */
  }