.wrapper {
    background-image: url('../../assets/images/bees.png');
    background-color: #ffbb00;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

.login-container {
    width: 400px;
    margin: 80px auto;
    padding: 5rem;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000; 
  }
  
input {
  display: block;
  width: 94%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  background-color: #EEEDED;
  border: 0px solid #ccc;
}

button {
  padding: 12px;
  width: 100%;
  background-color: #ffbb00;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.erro {
  color: red;
  margin-top: 10px;
}

.btn-entrar{
    width: 50%;
    border-radius: 14px;
    color: #000;
}

.btn-cadastro {
    padding: 12px;
    width: 100%;
    background-color: #ffffff;
    color: #ffbb00;
    border: 2px solid #ffbb00;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-cadastro:hover {
    background-color: #ffe082;
    color: #000;
  }

  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh; /* Preenche a tela inteira */
  }

  .login-container .logo img {
    width: 130px; /* Ou o tamanho desejado */
    height: 130px; /* Ou o tamanho desejado */
  }