.background {
    background-image: url(../../assets/images/LoadingBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eeeeeec4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    animation: fadeOut 1s ease-in-out 2s forwards;
}

@keyframes fadeZoomIn {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  