@import "tailwindcss";

body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

/* Background geral e organização de conteudo */
.container-all {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #FFFFFF;
    margin-top: 8vh;
    padding: 1rem; 
    box-sizing: border-box; 

    background-image: url('.././assets/images/icon-favo-top.png'), url('.././assets/images/icon-favo-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left -140px top, right -220px bottom;
    background-size: auto
  }

  .bg-auth {
    background-image: url('.././assets/images/bees.png');
    background-color: #ffbb00;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 1rem; 
    box-sizing: border-box; 
  }

  @media (max-width: 640px) {
  .container-all {
    margin-top: 8vh;
    padding: 3rem 0.5rem;
    background-position: left -80px top, right -150px bottom;
    background-size: 200px, 200px;
  }
}