body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .wrapper-home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.home-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #FFFFFF;

    background-image: url('../../assets/images/icon-favo-top.png'), url('../../assets/images/icon-favo-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left -140px top, right -220px bottom;
    background-size: auto
  }
  
  .dashboard {
    display:flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 1000px; /* ou o valor que preferir */
    background-color: #e9e9e9;
    border-radius: 14px;
    box-shadow: 2px 3px 7px 7px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    background-color: #f1f1f1;
    box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    
  }

  .top{
    background-color: #FFC90B;
  }

  .card-box{
    display: flex;
    padding: 0 50px 50px 50px ;
    gap: 50px;
  }

  .botao-sair{
    width:30%
  }

  .top{
    margin-bottom: 50px;
    max-width: 1000px;
  }

  .kpi{
    display: flex;
    gap: 200px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .card-kpi{
    background-color: #f1f1f1;
    border-radius: 14px;
    box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.1);
    width: 200px;
  }