body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .wrapper-home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.home-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #FFFFFF;

    background-image: url('../../assets/images/icon-favo-top.png'), url('../../assets/images/icon-favo-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left -50px top, right -50px bottom;
    background-size: auto
  }
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 800px; /* ou o valor que preferir */
    margin-top: 20px;
  }
  
  .card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .botao-sair{
    width:30%
  }