
  
  .wrapper-home {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem; 
  }

  
  .dashboard {
    display:flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 1000px; /* ou o valor que preferir */
    background-color: #f1f1f1;
    border-radius: 14px;
    box-shadow: 2px 3px 7px 7px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    background-color: #f1f1f1;
    box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
  }

  .content-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .top{
    background-color: #FFC90B;
  }

  .card-box{
    display: flex;
    padding: 0 50px 50px 50px ;
    gap: 50px;
  }

  .botao-sair{
    width:30%
  }

  .top{
    margin-bottom: 50px;
    max-width: 1000px;
    margin-left: 0px;
  }

  .kpi{
    display: flex;
    gap: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .card-kpi{
    background-color: #f1f1f1;
    border-radius: 14px;
    box-shadow: 1px 1px 7px 5px rgba(0, 0, 0, 0.1);
    width: 230px;
  }

  .title-kpi{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }

  .card-image{
    width: 90%
  }