/* src/pages/MapSelect/MapSelect.css */

#map {
    width: 100%;
    height: 500px; /* Ajuste a altura do mapa para garantir que ele seja visível */
    background-color: #f0f0f0; /* Cor de fundo para o mapa, caso não seja carregado */
}

.map-info {
    margin-top: 1rem;
    text-align: center;
}

button {
    margin-top: 1rem;
    padding: 0.8rem;
    background-color: #ffc107;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0a800;
}
